# Dependencies
/frontend/node_modules/

# Build output
/frontend/.next/
/frontend/out/
/frontend/dist/

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Env files (sensitive data)
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# VSCode settings
/frontend/.vscode/

# TypeScript
/frontend/*.tsbuildinfo

# Optional: coverage reports
/frontend/coverage/

# Backend Python cache and session
/backend/__pycache__
/backend/chat/__pycache__
/backend/flask_session/


# OPENAI Keys
/backend/chat/keys.py
